<nav>
  <div class="container" [style]="containerStyles">
    <div class="item">
      <div class="callButton">
        <img
          src="/assets/img/telephone.png"
          alt=""
          width="32"
          height="32"
          priority
        />
      </div>
      <div class="texts">
        <div class="text">Call Now!</div>
        <div class="text">(+381) 62-97-56-150</div>
      </div>
    </div>
    <div class="item">
      <img
        *ngIf="!isBurgerOpen; else close"
        src="/assets/img/hamburger-menu-white.svg"
        alt=""
        height="32px"
        width="32px"
        class="burger"
        (click)="handleBurgerClick()"
        aria-hidden="true"
      />
      <ng-template #close>
        <img
          *ngIf="isBurgerOpen"
          src="/assets/img/close-white.svg"
          alt=""
          height="28px"
          width="28px"
          class="close"
          (click)="handleBurgerClick()"
          aria-hidden="true"
        />
      </ng-template>
    </div>
    <div class="item" [class.menu]="isBurgerOpen">
      <ul class="list">
        <a routerLink="">
          <li class="listItem">Homepage</li>
        </a>
        <a routerLink="/products">
          <li class="listItem">Products</li>
        </a>
        <li class="listItem">Menu</li>
        <a routerLink="">
          <img
            src="/assets/img/logo-white.png"
            alt="Gricko"
            class="imgContainer"
          />
        </a>
        <li class="listItem">Events</li>
        <li class="listItem">Blog</li>
        <a [routerLink]="isAdmin ? '/admin' : '/profile'">
          <li class="listItem">{{ isAdmin ? 'Dashboard' : 'Profile' }}</li>
        </a>
      </ul>
    </div>
    <div class="item">
      <a routerLink="/cart">
        <div class="cart">
          <img
            src="/assets/img/basket-white.png"
            width="30px"
            height="30px"
            alt="Cart"
          />
          <div class="counter">{{ cartCount$ | async }}</div>
        </div>
      </a>
    </div>
  </div>
</nav>
