<button (click)="setIsOpen()" class="mainAddButton">Add New Pizza</button>
<div *ngIf="isOpen" class="container">
  <div class="wrapper">
    <span class="close" (click)="setIsOpen()" aria-hidden="true">&times;</span>
    <h1 class="title">Add a new Pizza</h1>
    <div class="item">
      <label for="" class="label">Choose an Image</label>
      <input type="file" name="" id="" (change)="setFile($event)" />
    </div>
    <div class="item">
      <label for="" class="label">Title</label
      ><input
        type="text"
        name=""
        id=""
        class="input"
        [(ngModel)]="pizza.title"
      />
    </div>
    <div class="item">
      <label for="" class="label">Desc</label>
      <textarea name="" id="" rows="5" [(ngModel)]="pizza.desc"></textarea>
    </div>
    <div class="item">
      <label for="" class="label">Prices</label>
      <div class="pricesContainer">
        <input
          type="number"
          name=""
          id=""
          placeholder="Small"
          class="input s"
          (change)="setPrice($event, 0)"
        />
        <input
          type="number"
          name=""
          id=""
          placeholder="Medium"
          class="input s"
          (change)="setPrice($event, 1)"
        /><br />
        <input
          type="number"
          name=""
          id=""
          placeholder="Large"
          class="input s"
          (change)="setPrice($event, 2)"
        />
        <input
          type="number"
          name=""
          id=""
          placeholder="Extra Large"
          class="input s"
          (change)="setPrice($event, 3)"
        />
      </div>
      <div class="item">
        <label for="" class="label">Extras</label>
        <div class="extrasContainer">
          <input
            type="text"
            name="text"
            id=""
            placeholder="Name"
            class="input s"
            (change)="handleExtra($event)"
          />
          <input
            type="number"
            name="price"
            id=""
            placeholder="Price"
            class="input s"
            (change)="handleExtra($event)"
          />
          <button className="extraButton" (click)="handleExtras()">Add</button>
        </div>
        <div class="extraItems">
          <span *ngFor="let extra of pizza.extras" class="extraItems"
            >{{ extra.text }} - RSD{{ extra.price }},&nbsp;
          </span>
        </div>
      </div>
    </div>
    <button className="addButton" (click)="handleCreate()">Create</button>
  </div>
</div>
