<button (click)="setIsOpen()" class="mainAddButton">Add New Pizza</button>
<div *ngIf="isOpen" class="container">
  <div class="wrapper">
    <span class="close" (click)="setIsOpen()" aria-hidden="true">&times;</span>
    <h1 class="title">Add a new Pizza</h1>
    <div class="item">
      <label for="" class="label">Choose an Image</label>
      <input type="file" name="" id="" [(ngModel)]="file" />
    </div>
    <div class="item">
      <label for="" class="label">Title</label
      ><input type="text" name="" id="" class="input" [(ngModel)]="title" />
    </div>
    <div class="item">
      <label for="" class="label">Desc</label>
      <textarea name="" id="" rows="5" [(ngModel)]="desc"></textarea>
    </div>
    <div class="item">
      <label for="" class="label">Prices</label>
      <div class="pricesContainer">
        <input
          type="number"
          name=""
          id=""
          placeholder="Small"
          class="input s"
          [(ngModel)]="prices.small"
        />
        <input
          type="number"
          name=""
          id=""
          placeholder="Medium"
          class="input s"
          [(ngModel)]="prices.medium"
        /><br />
        <input
          type="number"
          name=""
          id=""
          placeholder="Large"
          class="input s"
          [(ngModel)]="prices.large"
        />
        <input
          type="number"
          name=""
          id=""
          placeholder="Extra Large"
          class="input s"
          [(ngModel)]="prices.extraLarge"
        />
      </div>
      <div class="item">
        <label for="" class="label">Extras</label>
        <div class="extrasContainer">
          <input type="text" name="" id="" placeholder="Name" class="input s" />
          <input
            type="number"
            name=""
            id=""
            placeholder="Price"
            class="input s"
          />
          <button className="extraButton" (click)="handleExtras()">Add</button>
        </div>
        <div class="extraItems">
          <span *ngFor="let extra of extraOptions" class="extraItems"
            >{{ extra.text }}-{{ extra.price }}</span
          >
        </div>
      </div>
    </div>
  </div>
</div>
