.container {
  padding: 50px;
  display: flex;
}

.left {
  flex: 2;
  max-width: 66%;
}

.right {
  flex: 1;
}

td {
  word-break: break-all;
}

.table {
  width: 100%;
  border-spacing: 20px;
}

.imgContainer {
  width: 100px;
  height: 100px;
  position: relative;
}

.name {
  font-weight: 500;
  color: var(--red);
  font-size: 18px;
}

.total {
  font-weight: 500;
  font-size: 18px;
}

.wrapper {
  margin-top: 25px;
  padding: 50px;
  padding-top: 10px;
  border-radius: 20px;
  max-height: 300px;
  background-color: var(--lime-green);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.button {
  background-color: var(--red);
  color: white;
  margin-top: 20px;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  height: 30px;
  cursor: pointer;
}

.totalTextTitle {
  margin-right: 10px;
}

.paymentMethods {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

.button:disabled {
  opacity: 0.3;
  cursor: not-allowed;
}

.payButton {
  padding: 5px;
  cursor: pointer;
  margin-bottom: 5px;
  background-color: white;
  color: teal;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  height: 35px;
}

@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
    padding: 20px;
  }
  .wrapper {
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .container {
    flex-direction: column;
    padding: 20px;
  }

  .table {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .trTitle {
    display: none;
  }

  .tr {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }

  .name,
  .total {
    font-size: 24px;
  }

  .imgContainer {
    width: 35vw;
    height: 35vw;
  }

  .extras,
  .price,
  .quantity {
    font-size: 22px;
  }

  .price::before {
    content: 'Price: ';
    font-weight: 500;
  }

  .quantity::before {
    content: 'Quantity: ';
    font-weight: 500;
  }

  .total::before {
    content: 'Total: ';
    font-weight: 500;
  }

  .wrapper {
    width: 100%;
  }
}
