<div class="container">
  <div class="wrapper">
    <span class="close">&times;</span>
    <h1 class="tittle">You will pay $12 after delivery.</h1>
    <div class="item">
      <label for="" class="label">Name</label>
      <input type="text" placeholder="Gricko" class="input" />
    </div>
    <div class="item">
      <label for="" class="label">Phone Number</label>
      <input
        type="text"
        placeholder="(+381) 62-97-56-150"
        id=""
        class="input"
      />
    </div>
    <div class="item">
      <label for="" class="label">Address</label>
      <textarea
        rows="5"
        placeholder="Novosadska b.b., Kragujevac"
        class="textarea"
      ></textarea>
    </div>
    <button class="button">Order</button>
  </div>
</div>
