<div class="container" *ngIf="isOpen">
  <div class="wrapper">
    <span class="close" (click)="handleIsOpen()" aria-hidden="true"
      >&times;</span
    >
    <h1 class="tittle">You will pay $12 after delivery.</h1>
    <div class="item">
      <label for="" class="label">Name</label>
      <input
        type="text"
        placeholder="John Doe"
        class="input"
        [value]="(user$ | async)?.name"
        (change)="handleName($event)"
      />
    </div>
    <div class="item">
      <label for="" class="label">Phone Number</label>
      <input
        type="text"
        placeholder="(+381) 62-97-56-150"
        id=""
        class="input"
        [value]="(user$ | async)?.phoneNumber"
        (change)="handleNumber($event)"
      />
    </div>
    <div class="item">
      <label for="" class="label">Address</label>
      <textarea
        rows="5"
        placeholder="Novosadska b.b., Kragujevac"
        class="textarea"
        [value]="(user$ | async)?.address"
        (change)="handleAddress($event)"
      ></textarea>
    </div>
    <button class="button" (click)="handleOrder()">Order</button>
  </div>
</div>
