<div class="container">
  <div class="wrapper">
    <h1>Sign In</h1>
    <input type="text" class="input" placeholder="email" [(ngModel)]="email" />
    <input
      type="password"
      class="input"
      placeholder="password"
      [(ngModel)]="password"
    />
    <p>
      Don't have an account?<span>
        <a class="link" replaceUrl="true" routerLink="/auth/signup"
          >&nbsp;Sign Up</a
        >
      </span>
    </p>
    <button class="button" (click)="handleSignIn()">Sign In</button>
    <span *ngIf="error" class="error">Invalid Credentials!</span>
  </div>
</div>
