<div class="container">
  <div class="wrapper">
    <h1>Sign Up</h1>
    <input type="text" class="input" placeholder="Email" [(ngModel)]="email" />
    <input
      type="password"
      class="input"
      placeholder="Password"
      [(ngModel)]="password"
    />
    <input
      type="text"
      class="input"
      placeholder="First Name"
      [(ngModel)]="name"
    />
    <input
      type="text"
      class="input"
      placeholder="Last Name"
      [(ngModel)]="surname"
    />
    <input
      type="text"
      class="input"
      placeholder="Phone Number"
      [(ngModel)]="phoneNumber"
    />
    <textarea
      rows="5"
      placeholder="Address"
      class="textarea"
      [(ngModel)]="address"
    ></textarea>
    <p>
      Already have an account?<span>
        <a class="link" replaceUrl="true" routerLink="/auth/signin"
          >&nbsp;Sign In</a
        >
      </span>
    </p>
    <button class="button" (click)="handleSignUp()">Sign Up</button>
    <span *ngIf="error" class="error">Bad Credentials!</span>
  </div>
</div>
