<div style="display: flex; justify-content: space-between">
  <app-add-product
    [updateStatus]="refresh"
    (updateParent)="handleRefresh($event)"
  ></app-add-product>
  <app-logout></app-logout>
</div>
<div class="container">
  <div class="item">
    <h1 class="title">Products</h1>
    <table class="table">
      <thead>
        <tr class="trTitle">
          <td>Image</td>
          <td>Id</td>
          <td>Title</td>
          <td>Price</td>
          <td>Action</td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let pizza of pizzas | async" class="trTitle">
          <td>
            <div class="imgContainer">
              <img [src]="pizza.img" alt="" />
            </div>
          </td>
          <td>{{ pizza.id?.slice(0, 5) }}</td>
          <td>{{ pizza.title }}</td>
          <td>{{ pizza.sizes[0].price }}</td>
          <td>
            <button class="button" (click)="handleEdit($event, pizza.id!)">
              Edit
            </button>
            <button class="button" (click)="handleDelete($event, pizza.id!)">
              Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="item">
    <h1 class="title">Orders</h1>
    <table class="table">
      <thead>
        <tr class="trTitle">
          <td>Id</td>
          <td>Customer</td>
          <td>Total</td>
          <td>Payment</td>
          <td>Status</td>
          <td>Action</td>
        </tr>
      </thead>
      <tbody *ngFor="let order of orders | async">
        <tr class="trTitle">
          <td>{{ order.id }}</td>
          <td>{{ order.customer }}</td>
          <td>{{ order.total }}</td>
          <td>
            <span>{{ order.paymentMethod.name }}</span>
          </td>
          <td>{{ order.status.name }}</td>
          <td>
            <button
              class="button"
              (click)="nextStage(order)"
              [disabled]="order.status.value === 4"
            >
              Next Stage
            </button>
          </td>
        </tr>
        <tr>
          <td>
            <div [class]="statusClass(order, 1)">
              <img
                src="assets/img/bake.png"
                width="30px"
                height="30px"
                alt=""
              />
              <div class="checkedIcon">
                <img
                  src="assets/img/checked.png"
                  width="20px"
                  height="20px"
                  alt=""
                />
              </div>
            </div>
          </td>
          <td>
            <div [class]="statusClass(order, 2)">
              <img
                src="assets/img/bike.png"
                width="30px"
                height="30px"
                alt=""
              />
              <div class="checkedIcon">
                <img
                  src="assets/img/checked.png"
                  width="20px"
                  height="20px"
                  alt=""
                />
              </div>
            </div>
          </td>
          <td>
            <div [class]="statusClass(order, 3)">
              <img
                src="assets/img/delivered.png"
                width="30px"
                height="30px"
                alt=""
              />
              <div class="checkedIcon">
                <img
                  src="assets/img/checked.png"
                  width="20px"
                  height="20px"
                  alt=""
                />
              </div>
            </div>
          </td>
          <td>
            <div [class]="statusClass(order, 4)">
              <img
                src="assets/img/paid.png"
                width="30px"
                height="30px"
                alt=""
              />
              <div class="checkedIcon">
                <img
                  src="assets/img/checked.png"
                  width="20px"
                  height="20px"
                  alt=""
                />
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
