<app-add-product></app-add-product>
<div class="container">
  <div class="item">
    <h1 class="title">Products</h1>
    <table class="table">
      <thead>
        <tr class="trTitle">
          <td>Image</td>
          <td>Id</td>
          <td>Title</td>
          <td>Price</td>
          <td>Action</td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let pizza of pizzas | async" class="trTitle">
          <td>
            <img [src]="pizza.img" alt="" />
          </td>
          <td>{{ pizza.id.slice(0, 5) }}</td>
          <td>{{ pizza.title }}</td>
          <td>{{ pizza.sizes[0].price }}</td>
          <td>
            <button class="button">Edit</button>
            <button class="button">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="item">
    <h1 class="title">Orders</h1>
    <table class="table">
      <thead>
        <tr class="trTitle">
          <td>Id</td>
          <td>Customer</td>
          <td>Total</td>
          <td>Payment</td>
          <td>Status</td>
          <td>Action</td>
        </tr>
      </thead>
      <tbody *ngFor="let order of orders | async">
        <tr class="trTitle">
          <td>{{ order.id }}</td>
          <td>{{ order.customer }}</td>
          <td>{{ order.total }}</td>
          <td>
            <span>{{ order.paymentMethod.name }}</span>
          </td>
          <td>{{ order.status.name }}</td>
          <td>
            <button class="button">Next Stage</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
